body {
  background: none !important;
  padding: 0px;
}

.wrapper {
    max-width: none;
    background-color: white;
    margin: none;
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.main-wrapper {
  padding-left: 0px;
}

.hidden-print {
  display: none;
}
