<div class="company">
    <% if job.url? %>
      <h2 class="location"><a href="<%= job.url%>" target=_blank><%= job.company %></a></h2>
    <% else %>
      <h2 class="location"><%= job.company %></h2>
    <% end %>
</div>
