<div class="meta">
  <%= partial 'experience/company_name', :locals => {:job => job} %>
  <%= partial 'experience/company_location', :locals => {:job => job} %>
  <%= partial 'experience/job_title', :locals => {:job => job} %>
</div>
