<section class="section experiences-section">
  <h2 class="section-title">
    <% if @resume_data.pdf.useicons %>
      <i class="fa fa-briefcase"></i>
    <% end %>
    <%= display_name %>
  </h2>

  <% @resume_data.jobs.each do |job| %>
    <% if job.section == 'experiences' && job.include != false %>
      <% job = @job_data.find{ |ajob| ajob.id == job.id } %>
      <%= partial 'templates/experience/job_full', :locals => {:job => job} %>
    <% end %>
  <% end %>
</section>
