<% if @resume_data.volunteering? %>
  <section class="section volunteering-section">
      <h2 class="section-title"><i class="fa fa-briefcase"></i>Volunteering</h2>

      <% @resume_data.volunteering.each do |org| %>
        <div class="item">
          <div class="meta">
              <div class="company">
                  <h2 class="location"><%= org.title %></h2>
              </div>
          </div>
        </div>

        <div class="job-title-row">
          <h3 class="job-title"><%= org.organization %></h3>
        </div>

        <div class="details">
          <p><%= Maruku.new(org.desc).to_html %></p>
        </div>
      <% end %>
  </section>
<% end %>
