pdf:
  filename: MyName-Resume

headers:
    profile: Summary
    skills: Skills
    languages: Languages
    techs: Technical
    jobs: Experience
    education: Education
    #links: Links
    download: Download PDF
    projects: Projects
    interests: Interests

info:
    name: John Doe
    photo: false
    #shortdesc: Job Title
    email: youremail@gmail.com
    phone: (734) 555-1212 # not mandatory
    #homepage: http://example.com/ # not mandatory
    github: https://github.com/yourusername # Not mandatory
    linkedin: https://linkedin.com/in/yourusername/ # not mandatory
    twitter: http://twitter.com/yourusername # not mandatory
    address:
        street: 12345 Elm Street
        city: Haddonfield
        state: IL # not mandatory
        postal_code: 46502 # not mandatory
    desc: |
        I am a passionate developer and leader with 27 years of software development experience in roles
        including Chief Technology Officer, VP of Engineering, Chief Architect, and Director of Mobile Development,
        along with many years of hands-on software development.

        My skill-set ranges from business and management experience and knowledge to hands-on development expertise.
        While at heart I will always be a developer, I am also passionate about innovation, growing and leading teams
        and setting a technical vision for a company.

        I have a great deal of experience in the areas of full-stack web development, mobile development and scalable
        architecture. I am also well versed in Agile methodologies. My wide breadth of knowledge of both current and
        emerging technologies allows me to often identify innovative technology solutions to customer problems.

        I am also passionate about educating, mentoring, and building teams and communities of practice. I have been an
        evangelist for great software development in the Detroit area for many years. I am the founder and organizer of
        the Technology Mentorship Community for Michigan. I also enjoys technical writing. I am the author of two published
        books, the Java Phrasebook and the Ruby on Rails Bible.

# languages:
#     - name: Gibberish
#       level: Native language
#     - name: Manager Speak
#       level: Fluent

skills:
    - Team Leadership & Management
    - Mentorship & Community building
    - Agile Processes
    - Process management
    - Web & Mobile Development
    - Web & Mobile Scalability
    - Microservices Architecture
    - Amazon Web Services (AWS)
    - Heroku, EngineYard
    - Ruby, Rails, JavaScript, Node.js, React, ReactNative, Java, Swift, HTML, CSS
    - GraphQL, JSON
    - Internet of Things (IOT)
    - Security (Encryption, Digital Signature, PKI)


# links: # this section is not mandatory
#     - name: Link1
#       url: http://example.com/
#     - name: Another link
#       url: https://example.com/

jobs:
    - title: Chief Technology Officer
      company: Connect Space
      location:
        city: Ann Arbor
        state: MI
      #url: https://connectspaceinc.com/
      dates:
          start: 2018, March
          end: 2018, October
      desc: |
        Connect Space is an Ann Arbor, MI based startup with a web and mobile opportunity ecosystem and event management
        platform. As CTO at Connect Space, I was responsible for leading all aspects of the company’s technology development
        initiatives and collaborating with the CEO in developing the strategic vision for the Connect Space product.

        Responsibilities included:
          <ul>
            <li>Leadership and management of the development and design teams.</li>
            <li>Provide mentorship, guidance and create professional development opportunities for team members.</li>
            <li>Hands-on coding. Our platform consists of a Ruby on Rails backend, a web interface, and native mobile apps for iOS and Android.</li>
            <li>Re-architect the Connect Space application for scalability and performance.</li>
            <li>Define and manage development process</li>
            <li>Responsibility for the management, design, architecture and operability of the complete technology platform, ensuring scalability and performance while minimizing all operational risks.</li>
          </ul>

    - title: VP of Engineering
      company: Powerley
      location:
        city: Royal Oak
        state: MI
      dates:
          start: 2017, September
          end: 2018, March
      desc: |
        Powerley is a startup in the Smart Grid and Smart Home space. The Powerley platform includes a cloud-based web
        services infrastructure, native iOS and Android apps, and a dedicated in-home hardware platform, all able to
        communicate with a network of IOT smart devices. As VP of Engineering, my responsibilities included technology
        leadership, management, platform architecture, and managing process. A strategic initiative I took responsibility
        for was to redefine the product development process in order to improve predictability of deliverables, bring
        transparency into product development, and insure that the team is focused on strategic improvement efforts.

        Responsibilities also include:
          <ul>
            <li>Lead development team of 20, including professional growth and mentoring.</li>
            <li>Driving strategic improvement across the development team.</li>
            <li>Managing development interaction with other departments</li>
            <li>Drive solutions to tactical product issues.</li>
          </ul>

    - title: VP of Engineering
      company: Quikly
      location:
        city: Detroit
        state: MI
      dates:
          start: 2016, March
          end: 2017, August
      desc: |
        Quikly is a start-up in the retail promotional marketing space, based in Detroit. As VP of Engineering, my
        responsibilities included:
        <ul>
          <li>Architect scalability into the Quikly platform</li>
          <li>Define, execute and deliver on a vision and roadmap for the future growth of Quikly.</li>
          <li>Manage the development team. Hire, evaluate, and mentor new teams members</li>
          <li>Driving force behind creating a technical roadmap plan with dates and targets for future features and functionality for the product.</li>
          <li>Ruby, Rails, Node.js, AWS hands-on development</li>
          <li>Establishing a learning-centric culture with the goal of making Quikly an awesome place for technologists to work.</li>
        </ul>
        Hands-on work included transitioning a large Ruby on Rails based monolith application into a microservices based architecture. Developing an auto-scaler microservice on AWS Lambda to manage server load on the Heroku platform. Using technologies including Ruby, Rails, Node.js, Heroku, AWS EC2, AWS SNS, AWS Lambda, AWS ECS, Redis, Memcached.

    - title:
      company: Lochbridge / Compuware
      location:
        city: Detroit
        state: MI
      dates:
          start: 2006, May
          end: 2016, March
      desc: |
        Spent nearly 10 years with Compuware, which later became Lochbridge, in a variety of roles within both product
        and professional services divisions. Highlights of that experience are below.

        <div class="job-title">Director of Mobile Development</div>
        Responsible for leading a team that delivers solutions for iOS, Android, Windows, and HTML5/Hybrid platforms that run on phones, tablets, and in-vehicle systems. In this role I also served as the lead mobile architect. Responsibilities included responding to RFPs, setting mobile technology direction for the company, conducting regular 1-on-1 sessions with development staff, mentoring development staff, conducting performance reviews and career planning sessions, architecting and estimating solutions, leading development projects, and participating in mobile development coding. I was also responsible for identifying staffing needs, leading the interview process, and hiring candidates.

        I also regularly engaged with all levels of management and staff within Lochbridge, and with current and prospective customers. Work alongside sales team to engage new customers and pitch solutions and services. Identify new opportunities for mobile business and manage pipeline and asset planning.

        <div class="job-title">Principal Architect - Advanced Solutions &amp; Innovation</div>
        As a member of the Advanced Solutions & Innovation Group, I led company-wide efforts related to open source initiatives and collaborative innovation. As a part of this team, I developed an internal Innovation Forum portal allowing Lochbridge to adopt more of an internal open source culture to build assets, share knowledge, and innovate on advanced technologies that we can successfully bring to market. This web app was built using Ruby and the Ruby on Rails framework. The Advanced Solutions & Innovation Group is part of a CTO office within Lochbridge.

    - title: Senior Java Architect
      company: LogicaCMG
      location:
        city: Southfield
        state: MI
      dates:
          start: 2003, February
          end: 2006, May
      desc: |
        Worked on a Web-based single login project for Ford Motor Company. Responsibilities include assisting with
        architecture, analysis, design, coding, and testing. Environment consisted of Websphere Application Server
        and Websphere Studio Application Developer (WSAD) development environment.

        Software design architect on Ford APS (Authorization Policy Server) project. The intent of this project is
        to provide a web application authorization solution for corporate-wide use. Implemented in J2EE technology,
        IBM Websphere, IBM WSAD environment. My role included assisting with analysis, design, and coding.

    - title: Development Team Lead
      company: MedCharge
      location:
        city: Ann Arbor
        state: MI
      dates:
          start: 2002, February
          end: 2003, January
      desc: |
        Leader of the J2EE development team at MedCharge, a startup whose product was a health care application
        used within the University of Michigan Medical Center. The product allows hospital staff to capture all
        charges related to a patient's care and to dictate medical notes. The application is a multi-tiered Java
        application running on the WebSphere app server with an Oracle database. My responsibilities included
        serving as the lead java architect, software design, lead developer, task planning, mentoring,preparing
        and monitoring schedules. The web application featured a thin rich-client front-end that used dynamic HTML
        and AJAX techniques prior to the coining of the term AJAX.


education: # this section is not mandatory
    - name: University of Michigan
      #url: http://indiana.edu # not mandatory
      #city: Bloomington
      #region: Indiana
      #country: USA # not mandatory
      dates:
          start: Sept 1986
          end: May 1991 # not mandatory
      degree: B.S. Electrical Engineering
      #grade: 4.0 GPA # not mandatory

    - name: Capella University
      #url: http://indiana.edu # not mandatory
      #city: Bloomington
      #region: Indiana
      #country: USA # not mandatory
      dates:
          start: Sept 2001
          end: May 2003 # not mandatory
      degree: M.S. Education
      #grade: 4.0 GPA # not mandatory

    - name: Arizona State University
      #url: http://indiana.edu # not mandatory
      #city: Bloomington
      #region: Indiana
      #country: USA # not mandatory
      dates:
          start: Sept 1992
          end: May 1994 # not mandatory
      degree: M.S. Computer Science
      #grade: 4.0 GPA # not mandatory


# projects: # this section is not mandatory
#     - name: ResumeMan
#       desc: |
#           Resume Man is an HTML and PDF resume builder made in Ruby with Middleman.
#       url: https://github.com/reefab/ResumeMan # not mandatory
#       dates: # not mandatory
#           start: 2013-02-18
#           end: 2014-04-05 # not mandatory
#       location: # not mandatory
#           city: Florence
#           region: Tuscany
#           country: Italy # not mandatory

# interests: # this section is not mandatory
#     - Underwater basket weaving
#     - Competitive Rock Paper Scissors
