<% if data.resume.certifications? %>
<div class="education-container container-block">
    <h2 class="container-block-title">Certifications</h2>
    <% data.resume.certifications.each do |cert| %>
      <div class="item">
        <div class="degree-name"><%= cert.title %></div>
      </div>
    <% end %>
</div>
<% end %>
