<div class="align-bottom container-block hidden-print">
    <ul class="list-unstyled">
        <li>
            <i class="fa fa-file"></i>
            <a href="<%= @resume_data.pdf.filename %>.pdf"><%= display_name %></a>
        </li>
    </ul>
</div>
