<div class="align-bottom container-block hidden-print">
    <ul class="list-unstyled">
        <li>
            <i class="fa fa-file"></i>
            <a href="<%= data.resume.pdf.filename %>.pdf"><%= data.resume.headers.download %></a>
        </li>
    </ul>
</div>
