<section class="section experiences-section">
  <h2 class="section-title">
    <% if @resume_data.pdf.useicons %>
      <i class="fa fa-briefcase"></i>
    <% end %>
    <%= @resume_data.headers.jobs %>
  </h2>

  <% @resume_data.jobs.each do |job| %>
    <% if !(job.key?("include")) || (job.include === true) %>
      <% if job.brief %>
        <div class="item">
          <%= partial 'experience/job_meta', :locals => {:job => job} %>
            <div class="details">
                <p><%= Maruku.new(job.desc).to_html %></p>
            </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div id="additionalExperience">Additional Past Experiences</div>
  <% @resume_data.jobs.each do |job| %>
    <% if !job.brief %>
      <div class="item">
        <%= partial 'experience/job_meta', :locals => {:job => job} %>
      </div>
    <% end %>
  <% end %>
</section>
