<section class="section experiences-section">
  <h2 class="section-title">
    <% if data.resume.pdf.useicons %>
      <i class="fa fa-briefcase"></i>
    <% end %>
    <%= data.resume.headers.jobs %>
  </h2>

  <% data.resume.jobs.each do |job| %>
    <% if !(job.key?("include")) || (job.include === true) %>
      <div class="item">
        <%= partial 'experience/job_meta', :locals => {:job => job} %>
        <div class="details">
            <p><%= Maruku.new(job.desc).to_html %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
