<div class="profile-container">
    <img class="profile" src="<%= gravatar_url data.resume.info.email %>" alt="" />
    <h1 class="name"><%= data.resume.info.name %></h1>
    <h3 class="tagline"><%= data.resume.info.shortdesc %></h3>
</div>
