<div class="profile-container">
    <% if @resume_data.contact_info.photo == true %>
      <img class="profile" src="<%= gravatar_url @resume_data.contact_info.email %>" alt="" />
    <% end %>
    <h1 class="name"><%= @resume_data.contact_info.name %></h1>
    <h3 class="tagline"><%= @resume_data.contact_info.shortdesc %></h3>
</div>
