<% if data.resume.skills? %>
  <div class="interests-container container-block">
      <h2 class="container-block-title"><%= data.resume.headers.skills %></h2>

      <ul class="list-unstyled interests-list">
          <% data.resume.alphabetsoup.each do |skill| %>
              <li><%= skill %></li>
          <% end %>
      </ul>
  </div>
<% end %>
