<% summary_name = @resume_data.summary.file %>
<% @summary = (eval("data.#{summary_name}")).summary %>

<section class="section summary-section">
  <% if @resume_data.pdf.useicons %>
    <h2 class="section-title"><i class="fa fa-user"></i><%= @resume_data.headers.profile %></h2>
  <% else %>
    <h2 class="section-title"><%= @resume_data.headers.profile %></h2>
  <% end %>
  <div class="summary">
    <p><%= Maruku.new(@summary.text).to_html %></p>
  </div>
</section>
