<section class="section summary-section">
  <% if @resume_data.pdf.useicons %>
    <h2 class="section-title"><i class="fa fa-user"></i><%= @resume_data.headers.profile %></h2>
  <% else %>
    <h2 class="section-title"><%= @resume_data.headers.profile %></h2>
  <% end %>
  <div class="summary">
      <% if @resume_data.pdf.role == 'developer' %>
        <p><%= Maruku.new(@resume_data.summary.developer).to_html %></p>
      <% else %>
        <p><%= Maruku.new(@resume_data.summary.leader).to_html %></p>
      <% end %>
  </div>
</section>
